<!DOCTYPE html>
<html>
  <head>
    <title>Funny Movies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <% if user_signed_in? %>
      <%= render 'layouts/dashboard/header' %>
      <%= yield %>
      <%= render 'layouts/dashboard/footer' %>
    <% else %>
      <%= render 'layouts/guest_user' %>
    <%end%>
  </body>
</html>
